<!-- Filtro -->
<h5>Filtro</h5>
<input [(ngModel)]="Idusuario">
<button (click)="PegarporID()">Clique</button>

<!-- Informações do usuário selecionado -->
<div class="user-info" *ngIf="usuario">
    <h4>Usuário Selecionado:</h4>
    <p>ID: {{usuario.id}}</p>
    <p>Nome: {{usuario.nome}}</p>
  </div>

<!-- Tabela de Usuários -->
<table class="user-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Profissão</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let usuario of Users">
      <tr class="user-item">
        <td>{{usuario.nome}}</td>
        <td>{{usuario.idade}}</td>
        <td>{{usuario.profissao}}</td>
        <td><a routerLink="/User/update/{{usuario.id}}">Editar</a></td>
        <td><a routerLink="/User/delete/{{usuario.id}}">Deletar</a></td>
      </tr>
    </ng-container>
  </tbody>
</table>


